<%- include("partials/header.ejs") %>
<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold text-body-emphasis">
    Should You Use Sunscreen?
  </h1>
  <div class="col-lg-6 col-9 mx-auto">
    <p class="lead mb-4">
      Find out if you need sunscreen by just providing few simple details. Learn
      how different UV levels can affect your skin type, and stay safe in the
      sun.
    </p>
    <%- include("card.ejs") %>
  </div>
</div>
<%- include("partials/footer.ejs") %>
